<div class="wrapper" style="text-align: center">
  <h3>Bienvenido Empleados<h3>
  <%= image_tag("Creative-design-medical-tool-vector-material-03.jpg", :alt => "rss feed", :style => "border-radius:8px") %>
</div>
