<% provide(:title, "Log in") %>
<nav class="navbar navbar-inverse navbar-embossed" id="fullNavbar">
  <div class="container">
    <div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <div id="logo">
          <a class="navbar-brand" href="/">FARMAX</a>
          <%= image_tag("redcross2.png", :alt => "rss feed") %>
        </div>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active" id="inicio"><a href="/"><span class="glyphicon glyphicon-th-large"></span> Inicio</a></li>
        </ul>
      </div>
</nav>

<div class="container" id="Login-Frame">
  <div class="wrapper">
    <%= form_for(:session, url: login_path, :html => { :class => "form-signin"}) do |f| %>

        <h3 class="form-signin-heading">Farmax</h3>

        <%= f.text_field:nombre, class:'form-control', placeholder:'Usuario' %>

        <%= f.password_field:password, class:'form-control', placeholder:'Clave' %>

        <%= f.submit "Acceder", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
  </div>
</div>

<div id="footer">
  <p>&copy; Farmacia FARMAX 2015</p>
</div>