<div ng-controller="factura" ng-init="init_productos()">
<%= form_for(@ventum) do |f| %>
    <% if @ventum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

          <ul>
            <% @ventum.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <h5>Datos</h5>
        <div class="field">
          <%= f.label :empleado %><br />
          <%= f.select :empleado_id, options_for_select(Empleado.all.map{|s|[s.nombre, s.id]}) %>
        </div>
        <div class="field">
          <%= f.label :nombre_cliente %><br>
          <%= f.text_field :nombre_cliente, class: "form-control", placeholder: "nombre" %>
        </div>
        <div class="field">
          <%= f.label :tipo_pago %><br>
          <%= f.select :tipo_pago, ['Tarjeta', 'Efectivo', 'T-Pago'], class: "form-control select select-primary select2-offscreen" %>
        </div>
        <div class="field">
          <%= f.text_field :subtotal, value: '{{calcular().subtotal}}', style: 'display:none' %>
        </div>
        <div class="field">
          <%= f.text_field :impuesto, value: '{{calcular().impuesto}}', style: 'display:none' %>
        </div>
        <div class="field">
          <%= f.text_field :total, value: '{{calcular().total}}', style: 'display:none' %>
        </div>
        <div class="field">
          <%= f.text_area :productos, value: '{{venta}}', style: 'display:none' %>
        </div>
        <div class="actions">
          <%= f.submit "Facturar", class: "btn btn-primary"%>
          <%= link_to 'Cancelar', venta_path, class: "btn btn-danger" %>
        </div>
      </div>
      <div class="col-md-8">
        <h5>Detalles</h5>
        <table class="table">
          <tr>
            <select ng-show="productos_validos().length > 0" ng-model="producto_a_agregar" ng-options="producto.id as producto.nombre for producto in productos_validos()"></select>
            <a class="btn btn-success btn-sm" ng-click="agregar_producto(producto_a_agregar)"><span class="glyphicon glyphicon-plus-sign"></span></a></tr>
          <thead>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr ng-repeat="producto in venta">
              <td>{{producto.nombre}}</td>
              <td><input type="number" ng-model="producto.cantidad" min="1" max="{{producto.stock}}"/> / {{producto.stock}}</td>
              <td>RD$ {{redondear(producto.precio)}}</td>
              <td>RD$ {{redondear(producto.precio * producto.cantidad)}}</td>
              <td><a class="btn btn-danger btn-xs" ng-click="remover_producto(producto.id)">remover</a></td>
            </tr>
          </tbody>
          <tr>
            <td><b>Subtotal: RD$ {{calcular().subtotal}}</b></td>
            <td><b>Impuesto (18%): RD$ {{calcular().impuesto}}</b></td>
            <td colspan="3" style="text-align: right"><b>Total: RD$ {{calcular().total}}</b></td>
          </tr>
        </table>
      </div>
    </div>
<% end %>
</div>