<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empleado %><br />
    <%= f.select :empleado_id, options_for_select(Empleado.all.map{|s|[s.nombre, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :nombre_cliente %><br>
    <%= f.text_field :nombre_cliente, class:"form-control" ,placeholder:"nombre" %>
  </div>
  <div class="field">
    <%= f.label :tipo_pago %><br>
    <%= f.select :tipo_pago, ['Tarjeta', 'Efectivo', 'T-Pago'], class:"form-control select select-primary select2-offscreen" %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br>
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :impuesto %><br>
    <%= f.text_field :impuesto %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
