<% provide(:title, "Ventas") %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h3 class="col-md-12">Listado de Ventas</h3>
    <br>



    <div class="col-md-12">
      <a class="btn btn-primary btn-sm" href="/venta/new" target="_blank"><span class="glyphicon glyphicon-plus"></span> Nueva Venta</a>
    </div>

    <div class="col-md-12">
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Nombre del empleado</th>
          <th>Nombre del cliente</th>
          <th>Tipo pago</th>
          <th>Subtotal</th>
          <th>Impuesto</th>
          <th>Total</th>
          <th style="text-align: center;">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tbody>
        <% @venta.each do |ventum| %>
            <tr>
              <td><%= ventum.id %></td>
              <td><%= ventum.created_at.strftime("%m/%d/%Y") %></td>
              <td><%= ventum.created_at.strftime("%H:%M:%S") %></td>
              <td><%= ventum.empleado.nombre %></td>
              <td><%= ventum.nombre_cliente %></td>
              <td><%= ventum.tipo_pago %></td>
              <td>RD$ <%= ventum.subtotal %></td>
              <td>RD$ <%= ventum.impuesto %></td>
              <td>RD$ <%= ventum.total %></td>
              <td><a class="btn btn-success btn-xs" href="/venta/<%= ventum.id %>"><span class="glyphicon glyphicon-shopping-cart"></span> Detalles</a></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>