<div class="row">
  <p id="notice"><%= notice %></p>

  <div class="col-md-4">
    <h5>Datos</h5>

    <p>
      <strong>Empleado:</strong>
      <a class="link" href="/empleados/<%= @ventum.empleado.id %>"><%= @ventum.empleado.nombre %></a>
    </p>

    <p>
      <strong>Nombre cliente:</strong>
      <%= @ventum.nombre_cliente %>
    </p>

    <p>
      <strong>Tipo pago:</strong>
      <%= @ventum.tipo_pago %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @ventum.created_at.strftime("%m/%d/%Y - %H:%M:%S") %>
    </p>

    <p>
      <strong>Subtotal:</strong>
      <%= @ventum.subtotal %>
    </p>

    <p>
      <strong>Impuesto:</strong>
      <%= @ventum.impuesto %>
    </p>

    <p>
      <strong>Total:</strong>
      <%= @ventum.total %>
    </p>
    <%= link_to '<span class="glyphicon glyphicon-th-list"></span> Volver a Lista'.html_safe, venta_path, class: "btn btn-warning" %>
  </div>
  <div class="col-md-8">
    <h5>Detalles</h5>
    <button class="btn btn-info" onclick="imprimir_factura('<%= @ventum.empleado.nombre %>','<%= @ventum.nombre_cliente %>','<%= @ventum.tipo_pago %>','<%= @ventum.created_at.strftime("%m/%d/%Y - %H:%M:%S") %>')">
      <span class="glyphicon glyphicon-print"></span> Imprimir
    </button>
    <div id="factura">
      <table class="table">
        <thead>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio (c/u)</th>
        <th>Total</th>
        </thead>
        <tbody>
        <% VentaProducto.all.each do |producto| %>
            <% if producto.ventum_id == @ventum.id %>
                <tr>
                  <td><a class="link" href="/productos/<%= producto.producto.id %>"><%= producto.producto.nombre %></a>
                  </td>
                  <td><%= producto.cantidad %></td>
                  <td><%= producto.precio %></td>
                  <td><%= producto.total %></td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
        <tr>
          <td><b>Subtotal: RD$ <%= @ventum.subtotal %></b></td>
          <td><b>Impuesto (18%): RD$ <%= @ventum.impuesto %></b></td>
          <td colspan="3" style="text-align: right"><b>Total: RD$ <%= @ventum.total %></b></td>
        </tr>
      </table>
    </div>
  </div>

</div>
