<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Reporte de las ganancias'
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: RD$ ' + redondear(this.percentage/100 * this.total) + ' / RD$ ' + redondear(this.total);
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: RD$ ' + redondear(this.percentage/100 * this.total) + '';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: []
            }]
        }

        $.getJSON("/productos.json", function (productos) {
            $.getJSON("/venta.json", function (ventas) {
                options.series[0].data = aplicar_formato(productos,ventas);
                chart = new Highcharts.Chart(options);
            });
        });

        function aplicar_formato(productos,ventas) {
            var formato = [];
            for (var p in productos) {
                var total_vendidos = 0;
                for (var v in ventas) {
                    if(ventas[v].producto && ventas[v].producto.id === productos[p].id){
                        total_vendidos += ventas[v].total - (productos[p].costo * ventas[v].cantidad);
                    }
                }
                formato.push([productos[p].nombre,total_vendidos]);
            }
            return formato;
        };

        function redondear(valor){
            return parseFloat((valor).toFixed(2));
        };

    });
</script>
<script src="/js/highcharts.js"></script>
<script src="/js/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
