<%= form_for(@empleado) do |f| %>
  <% if @empleado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empleado.errors.count, "error") %> prohibited this empleado from being saved:</h2>

      <ul>
      <% @empleado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:"form-control" ,placeholder:"nombre" %>
  </div>
  <div class="field">
    <%= f.label :password, value:"contraseña" %><br>
    <%= f.password_field :password, class:"form-control" ,placeholder:"contrasena" %>
  </div>
<div class="field">
    <%= f.label :password_confirmation, value:"confirmacion de contraseña" %><br>
    <%= f.password_field :password_confirmation, class:"form-control" ,placeholder:"contrasena" %>
  </div>
  <div class="field">
    <%= f.label :posicion %><br>
    <%= f.select :posicion, ['Administrador', 'Vendedor', 'Encargado de Almacen'], class:"form-control select select-primary select2-offscreen" %>
  </div>
  <div class="field">
    <%= f.label :sueldo %><br>
    <%= f.number_field :sueldo, class:"form-control" ,placeholder:"sueldo" %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class: "btn btn-primary"%>
    <%= link_to 'Cancelar', empleados_path, class: "btn btn-danger" %>
  </div>
<% end %>