<% provide(:title, "Empleados") %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h3 class="col-md-12">Listado de Empleados</h3>
    <br>



    <div class="col-md-12">
      <a class="btn btn-primary btn-sm" href="/empleados/new"><span class="glyphicon glyphicon-plus"></span> Nuevo Empleado</a>
    </div>

    <div class="col-md-12">
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Posicion</th>
          <th>Sueldo</th>
          <th colspan="3" style="text-align: center;">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% @empleados.each do |empleado| %>
            <tr>
              <td><%= empleado.nombre %></td>
              <td><%= empleado.posicion %></td>
              <td>$ <%= empleado.sueldo %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Mostrar'.html_safe, empleado, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_empleado_path(empleado), class: "btn btn-success btn-xs" %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-trash"></span> Borrar'.html_safe, empleado, method: :delete, data: {confirm: 'Estas seguro?'}, class: "btn btn-danger btn-xs" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>