
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Posicion:</strong>
  <%= @empleado.posicion %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @empleado.sueldo %>
</p>

<%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_empleado_path(@empleado), class: "btn btn-primary" %> |
<%= link_to '<span class="glyphicon glyphicon-th-list"></span> Volver a Lista'.html_safe, empleados_path, class: "btn btn-warning" %> |
<%= link_to '<span class="glyphicon glyphicon-trash"></span> Borrar'.html_safe, @empleado, method: :delete, data: {confirm: 'Estas seguro?'}, class: "btn btn-danger" %>
