<%= form_for(@producto) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, class:"form-control" ,placeholder:"nombre" %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class:"form-control" ,placeholder:"descripcion" %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.text_field :costo, class:"form-control" ,placeholder:"costo" %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.text_field :precio, class:"form-control" ,placeholder:"precio" %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock, class:"form-control" ,placeholder:"stock" %>
  </div>
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.select :categoria, ['Acidificantes Urinarios','Analgésicos','Andrógenos','Anestésicos','Anorexígenos','Antiácidos','Antiacnéicos','Antiadrenales','Antianginosos','Antiarrítmicos','Antiartríticos','Antiartrósicos','Antiasmáticos','Antibacterianos','Anticoagulantes','Anticolelitiásicos','Anticonceptivos','Anticonvulsivantes','Antidiarréicos','Antidisquinéticos','Antidiuréticos','Antídotos','Antieméticos','Antiespasmódicos','Antiespásticos','Antifibróticos','Antiflatulentos','Antifúngicos','Antiglaucomatosos','Antigotosos','Antigripales','Antihelmínticos','Antihemorrágicos','Antihemorroidales','Antihipercalcémicos','Antihipercolesterolémicos','Antihiperlipémicos','Antihiperoxalúricos','Antihiperpotasémicos','Antihiperprolactémicos','Antihipertensivos','Antihipertiroidales','Antihiperuricémicos','Antihipocalcémicos','Antihipocolesterolemiantes','Antihipotensivos','Antihistamínicos','Antiinflamatorios','Antijaquecosos','Antileprosos','Antilitiásicos','Antimaláricos','Antimiasténicos','Antimicóticos','Antineoplásicos','Antirreumáticos','Antisárnicos','Antiseborréicos','Antisépticos','Antitiroideos','Antituberculosos','Antitusivos','Antiulcerosos','Antiurolitiásicos','Antivaricosos','Antivertiginosos','Antivirales','Bloqueadores Neuromusculares','Broncodilatadores','Capilaroprotectores','Cardiotónicos','Ciclopléjicos','Citotóxicos','Colelitolíticos','Cosméticos','Descongestionantes','Diuréticos','Eméticos','Escabicidas','Esteroides','Estimulantes Motilidad Gástrica','Estimulantes S.N.C.','Germicidas','Hipocolesterolemiantes','Hipoglicemiantes','Hipolipemiantes','Hormonas','Inhibidores Dopaminérgicos','Inhibidores Gonadotróficos','Inhibidores Parto','Inhibidores Secreciones Gástricas','Inmunosupresores','Laxantes','Midriáticos','Mielodepresores','Mióticos','Mucolíticos','Orexígenos','Oxitócicos','Pediculicidas','Placebos','Profilácticos','Protectores Radiaciones',], class:"form-control select select-primary select2-offscreen" %>
  </div>
  <div class="field">
    <%= f.label :bodega %><br>
    <%= f.select :bodega, ['A-1', 'A-2', 'A-3','B-1', 'B-2', 'B-3','C-1', 'C-2', 'C-3'], class:"form-control select select-primary select2-offscreen" %>
  </div>
    <div class="actions">
      <%= f.submit "Enviar", class: "btn btn-primary"%>
      <%= link_to 'Cancelar', productos_path, class: "btn btn-danger" %>
    </div>
<% end %>
