<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h3 class="col-md-12">Listado de Productos</h3>
    <br>

    <div class="col-md-12">
      <a class="btn btn-primary btn-sm" href="/productos/new"><span class="glyphicon glyphicon-plus"></span> Nuevo Producto</a>
    </div>
    <br>
    <div class="col-md-12">
      <!-- Table -->
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Costo (c/u)</th>
          <th>Precio (c/u)</th>
          <th>Stock</th>
          <th>Categoria</th>
          <th>Bodega</th>
          <th colspan="3" style="text-align: center">Acciones</th>
        </tr>
        </thead>

        <tbody>
        <% @productos.each do |producto| %>
            <tr>
              <td><%= producto.nombre %></td>
              <td><%= producto.descripcion %></td>
              <td>RD$ <%= producto.costo %></td>
              <td>RD$ <%= producto.precio %></td>
              <td><%= producto.stock %> unidades</td>
              <td><%= producto.categoria %></td>
              <td><%= producto.bodega %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Mostrar'.html_safe, producto, class: "btn btn-info btn-xs" %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_producto_path(producto), class: "btn btn-success btn-xs" %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-trash"></span> Borrar'.html_safe, producto, method: :delete, data: {confirm: 'Estas seguro?'}, class: "btn btn-danger btn-xs" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>