<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @producto.costo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @producto.stock %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.categoria %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @producto.bodega %>
</p>

<%= link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_producto_path(@producto), class: "btn btn-primary"  %> |
<%= link_to '<span class="glyphicon glyphicon-th-list"></span> Volver a Lista'.html_safe, productos_path, class: "btn btn-warning"  %> |
<%= link_to '<span class="glyphicon glyphicon-trash"></span> Borrar'.html_safe, @producto, method: :delete, data: {confirm: 'Estas seguro?'}, class: "btn btn-danger" %>
