/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#fullNavbar {
    border-radius: 0;
}

.navbar-brand {
    font-style: italic;
    font-family: Verdana, sans serif;
    font-weight: bolder;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
#logo img {
    width: 28px;
    height: auto;
    margin-top: 13px;
}

#logo a {
    padding-right: 5px;
}

/* LOGIN */
.wrapper {
    margin-top: 70px;
    margin-bottom: 10px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 60px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
}

.form-signin-heading {
    text-align:center;
    color: gray;
    margin-bottom: 25px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* LOGIN */


#footer {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
}

a.link:hover {
    background-color: #2f4154;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
}